* {
  text-decoration: none;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 88px;
}
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav__link {
  color: black;
  transition: 0.1s;
  font-weight: 500;
}
.nav__singIn {
  padding: 8px 20px;
  border-radius: 25px;
  background: none;
}
.nav__logo {
  z-index: 2;
}
.nav__sing {
  display: flex;
  gap: 10px;
}
.nav__singup {
  padding: 8px 20px;
  border-radius: 25px;
  background: none;
  cursor: pointer;
}
.hamburger {
  display: none;
}
.nav__link:hover {
  border-bottom: 1px solid #000;
}
